dev/pug/index.pug
extends _layouts/default

block vars
  -title        = 'Top'
  -description  = 'Description of Top'
  -keywords     = 'keywords of top'
  -bodyClass    = 'page-top'
  -path         = './'

block container
  section.section-top-banner
    .check-availabel
      .item-checkin.item.wow.fadeindown
        .date-picker
          +input-norequire('Check in', 'text').input#datepicker
          button
            i.fa.fa-calendar
          .calendar
      .item-checkin.item.wow.fadeindown(data-wow-delay=".3s")
        .date-picker
          +input-norequire('Check out', 'text').input#datepicker02
          button
            i.fa.fa-calendar
      .item-select.item.wow.fadeindown(data-wow-delay=".6s")
        select.select-control
          option Adults
          option 1
          option 2
          option 3
          option 4
      .item-select.item.wow.fadeindown(data-wow-delay=".9s")
        select.select-control
          option Childs
          option 1
          option 2
          option 3
          option 4
      +link('#', '').btn-check-availabel.item.wow.fadeindown(data-wow-delay="1.2s")
        span.txt-btn check available

  include _parts/navigation

  section.section-top-info
    .wrapper
      .desc-top-info
        h2.common-title.wow.fadeindown
          span.txt-title accommodation hotel in the city center of sadec city
        .desc-common.wow.fadeindown
          | Tại Khách sạn VẠN KIM LONG, chúng tôi đặt giá trị cao trên các dịch vụ tốt nhất. Sự hài lòng của du khách là những gì chúng tôi đang theo đuổi. Chúng tôi luôn luôn làm cho khách hàng cảm thấy được sự quan trọng và sự quan tâm sâu sắc để thực hiện được mục tiêu của mình một cách tốt nhất.

  section.section-top-room
    .desc-top-info
      h2.common-title.wow.fadeindown
        span.txt-title room
    .wrapper
      .main-visual-middle.wow.fadeindown
        .main-visual-in
          .slide
            .fade-left
              h2.title Single Room
              p.sub-title With sea view
              +img('icon room', path+'img/common/single_room.png').list-img
              .desc
                | More than 100 rooms, suites and apartments have accommodated many illustrious resi-densts, such as menbers of resort royal families, famous politicians and stars of film and opera. The hotel is amasterpiece rediscovered
              +link('#', 'Read more').btn-read-more.trans

            .fade-right
              +img('img right', path+'img/top/slider_right01.jpg')
          .slide
            .fade-left
              h2.title Single Room02
              p.sub-title With sea view
              +img('icon room', path+'img/common/single_room.png').list-img
              .desc
                | More than 100 rooms, suites and apartments have accommodated many illustrious resi-densts, such as menbers of resort royal families, famous politicians and stars of film and opera. The hotel is amasterpiece rediscovered
              +link('#', 'Read more').btn-read-more.trans
            .fade-right
              +img('img right', path+'img/top/slider_right01.jpg')
          .slide
            .fade-left
              h2.title Single Room03
              p.sub-title With sea view
              +img('icon room', path+'img/common/single_room.png').list-img
              .desc
                | More than 100 rooms, suites and apartments have accommodated many illustrious resi-densts, such as menbers of resort royal families, famous politicians and stars of film and opera. The hotel is amasterpiece rediscovered
              +link('#', 'Read more').btn-read-more.trans
            .fade-right
              +img('img right', path+'img/top/slider_right01.jpg')
          .slide
            .fade-left
              h2.title Single Room04
              p.sub-title With sea view
              +img('icon room', path+'img/common/single_room.png').list-img
              .desc
                | More than 100 rooms, suites and apartments have accommodated many illustrious resi-densts, such as menbers of resort royal families, famous politicians and stars of film and opera. The hotel is amasterpiece rediscovered
              +link('#', 'Read more').btn-read-more.trans
            .fade-right
              +img('img right', path+'img/top/slider_right01.jpg')

  section.section-top-dining
    .wrapper
      .content-dining
        h2.common-title.wow.fadeindown
          span.txt-title dining

        .desc-dining
          .thumb-dining.wow.fadeindown
            +img('thumb dining', path+'img/top/dining_pic.jpg')
          .desc-content.wow.fadeindown
            p
              | At VAN KIM LONG hotel, we believe in offering our guests the full ltalian experience which includes gourmet, local cuisine and amazing wines served in a warm, friendly environ-ment.<br><br>
              | For this reason, guests staying at the hotel will be treated to a nightly, four-course, gourmet dinner in our main dining room as part of their room rate.
            +link('#', 'Read more').btn-read-more.trans

  section.section-top-gallery
    h2.common-title.wow.fadeindown
      span.txt-title gallery

    .desc-gallery
      .wrapper
        .gallery-inner
          .video.wow.fadeindown
            .btn-play(data-fancybox, href="https://www.youtube.com/embed/EqPtz5qN7HM&autoplay=0&rel=0&controls=0&showinfo=0")
              +img('', path+'img/common/icon_video.png')
          .list-thumb
            +link(path+'img/top/gallery01.jpg', '')(rel="group2").thumb-item.wow.fadeindown.fancybox(data-wow-delay=".3s")
              +img('thumb gallery', path+'img/top/gallery01.jpg')
            +link(path+'img/top/gallery02.jpg', '')(rel="group2").thumb-item.wow.fadeindown.fancybox(data-wow-delay=".6s")
              +img('thumb gallery', path+'img/top/gallery02.jpg')
            +link(path+'img/top/gallery03.jpg', '')(rel="group2").thumb-item.wow.fadeindown.fancybox(data-wow-delay=".9s")
              +img('thumb gallery', path+'img/top/gallery03.jpg')
            +link(path+'img/top/gallery04.jpg', '').thumb-item.wow.fadeindown.fancybox(data-wow-delay="1.2s")
              +img('thumb gallery', path+'img/top/gallery04.jpg')
            +link(path+'img/top/gallery05.jpg', '')(rel="group2").thumb-item.wow.fadeindown.fancybox(data-wow-delay="1.5s")
              +img('thumb gallery', path+'img/top/gallery05.jpg')
            +link(path+'img/top/Video.jpg', '')(rel="group2").thumb-item.wow.fadeindown.fancybox(data-wow-delay="1.8s")
              +img('thumb gallery', path+'img/top/gallery06.jpg')

index.html
<!DOCTYPE html>
<html class="no-js" lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0">
    <meta name="description" content="Description of Top">
    <meta name="keywords" content="keywords of top">
    <title>Top</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href=".//css/style.css">
  </head>
  <body class="page-top">
    <div class="container">
      <header></header>
      <section class="section-top-banner">
        <div class="check-availabel">
          <div class="item-checkin item wow fadeindown">
            <div class="date-picker">
              <input class="input" type="text" placeholder="Check in" id="datepicker"/>
              <button><i class="fa fa-calendar"></i></button>
              <div class="calendar"></div>
            </div>
          </div>
          <div class="item-checkin item wow fadeindown" data-wow-delay=".3s">
            <div class="date-picker">
              <input class="input" type="text" placeholder="Check out" id="datepicker02"/>
              <button><i class="fa fa-calendar"></i></button>
            </div>
          </div>
          <div class="item-select item wow fadeindown" data-wow-delay=".6s">
            <select class="select-control">
              <option>Adults</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
          <div class="item-select item wow fadeindown" data-wow-delay=".9s">
            <select class="select-control">
              <option>Childs</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div><a class="btn-check-availabel item wow fadeindown" href="#" data-wow-delay="1.2s"><span class="txt-btn">check available</span></a>
        </div>
      </section>
      <div class="header item wow fadeindown">
        <div class="wrapper">
          <div class="header-inner">
            <h1 class="header-logo item"><a class="trans" href="./"><img class="img-logo" src="./img/common/logo.png" alt="VKL"></a>
            </h1>
            <div class="hambuger-menu sm">
              <div class="line-item line-item01"></div>
              <div class="line-item line-item02"></div>
              <div class="line-item line-item03"></div>
            </div>
            <nav class="navigation">
              <div class="nav-inner">
                <div class="list-menu list-left">
                  <div class="item-menu"><a class="btn-nav trans" href="./"><span class="txt-nav">HOME</span></a></div>
                  <div class="item-menu"><a class="btn-nav trans" href="#"><span class="txt-nav">ABOUT US</span></a></div>
                  <div class="item-menu"><a class="btn-nav trans" href="#"><span class="txt-nav">RESVERVATION</span></a></div>
                  <div class="item-menu"><a class="btn-nav trans" href="#"><span class="txt-nav">DINING</span></a></div>
                </div>
                <div class="list-menu list-right">
                  <div class="item-menu"><a class="btn-nav trans" href="#"><span class="txt-nav">EVENT</span></a></div>
                  <div class="item-menu"><a class="btn-nav trans" href="#"><span class="txt-nav">SPECIALS</span></a></div>
                  <div class="item-menu"><a class="btn-nav trans" href="#"><span class="txt-nav">GALLERY</span></a></div>
                  <div class="item-menu"><a class="btn-nav trans" href="#"><span class="txt-nav">CONTACT</span></a></div>
                  <div class="item-menu item-flag"><a class="btn-flag trans" href="#"><img src="./img/common/flag_vn.png" alt="flag VN"/></a><a class="btn-flag trans" href="#"><img src="./img/common/flag_usa.png" alt="flag usa"/></a></div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <section class="section-top-info">
        <div class="wrapper">
          <div class="desc-top-info">
            <h2 class="common-title wow fadeindown"><span class="txt-title">accommodation hotel in the city center of sadec city</span></h2>
            <div class="desc-common wow fadeindown">Tại Khách sạn VẠN KIM LONG, chúng tôi đặt giá trị cao trên các dịch vụ tốt nhất. Sự hài lòng của du khách là những gì chúng tôi đang theo đuổi. Chúng tôi luôn luôn làm cho khách hàng cảm thấy được sự quan trọng và sự quan tâm sâu sắc để thực hiện được mục tiêu của mình một cách tốt nhất.</div>
          </div>
        </div>
      </section>
      <section class="section-top-room">
        <div class="desc-top-info">
          <h2 class="common-title wow fadeindown"><span class="txt-title">room</span></h2>
        </div>
        <div class="wrapper">
          <div class="main-visual-middle wow fadeindown">
            <div class="main-visual-in">
              <div class="slide">
                <div class="fade-left">
                  <h2 class="title">Single Room</h2>
                  <p class="sub-title">With sea view</p><img class="list-img" src="./img/common/single_room.png" alt="icon room"/>
                  <div class="desc">More than 100 rooms, suites and apartments have accommodated many illustrious resi-densts, such as menbers of resort royal families, famous politicians and stars of film and opera. The hotel is amasterpiece rediscovered</div><a class="btn-read-more trans" href="#">Read more</a>
                </div>
                <div class="fade-right"><img src="./img/top/slider_right01.jpg" alt="img right"/>
                </div>
              </div>
              <div class="slide">
                <div class="fade-left">
                  <h2 class="title">Single Room02</h2>
                  <p class="sub-title">With sea view</p><img class="list-img" src="./img/common/single_room.png" alt="icon room"/>
                  <div class="desc">More than 100 rooms, suites and apartments have accommodated many illustrious resi-densts, such as menbers of resort royal families, famous politicians and stars of film and opera. The hotel is amasterpiece rediscovered</div><a class="btn-read-more trans" href="#">Read more</a>
                </div>
                <div class="fade-right"><img src="./img/top/slider_right01.jpg" alt="img right"/>
                </div>
              </div>
              <div class="slide">
                <div class="fade-left">
                  <h2 class="title">Single Room03</h2>
                  <p class="sub-title">With sea view</p><img class="list-img" src="./img/common/single_room.png" alt="icon room"/>
                  <div class="desc">More than 100 rooms, suites and apartments have accommodated many illustrious resi-densts, such as menbers of resort royal families, famous politicians and stars of film and opera. The hotel is amasterpiece rediscovered</div><a class="btn-read-more trans" href="#">Read more</a>
                </div>
                <div class="fade-right"><img src="./img/top/slider_right01.jpg" alt="img right"/>
                </div>
              </div>
              <div class="slide">
                <div class="fade-left">
                  <h2 class="title">Single Room04</h2>
                  <p class="sub-title">With sea view</p><img class="list-img" src="./img/common/single_room.png" alt="icon room"/>
                  <div class="desc">More than 100 rooms, suites and apartments have accommodated many illustrious resi-densts, such as menbers of resort royal families, famous politicians and stars of film and opera. The hotel is amasterpiece rediscovered</div><a class="btn-read-more trans" href="#">Read more</a>
                </div>
                <div class="fade-right"><img src="./img/top/slider_right01.jpg" alt="img right"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-top-dining">
        <div class="wrapper">
          <div class="content-dining">
            <h2 class="common-title wow fadeindown"><span class="txt-title">dining</span></h2>
            <div class="desc-dining">
              <div class="thumb-dining wow fadeindown"><img src="./img/top/dining_pic.jpg" alt="thumb dining"/>
              </div>
              <div class="desc-content wow fadeindown">
                <p>
                  At VAN KIM LONG hotel, we believe in offering our guests the full ltalian experience which includes gourmet, local cuisine and amazing wines served in a warm, friendly environ-ment.<br><br>
                  For this reason, guests staying at the hotel will be treated to a nightly, four-course, gourmet dinner in our main dining room as part of their room rate.
                </p><a class="btn-read-more trans" href="#">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-top-gallery">
        <h2 class="common-title wow fadeindown"><span class="txt-title">gallery</span></h2>
        <div class="desc-gallery">
          <div class="wrapper">
            <div class="gallery-inner">
              <div class="video wow fadeindown">
                <div class="btn-play" data-fancybox href="https://www.youtube.com/embed/EqPtz5qN7HM&amp;autoplay=0&amp;rel=0&amp;controls=0&amp;showinfo=0"><img src="./img/common/icon_video.png" alt=""/>
                </div>
              </div>
              <div class="list-thumb"><a class="thumb-item wow fadeindown fancybox" href="./img/top/gallery01.jpg" rel="group2" data-wow-delay=".3s"><img src="./img/top/gallery01.jpg" alt="thumb gallery"/></a><a class="thumb-item wow fadeindown fancybox" href="./img/top/gallery02.jpg" rel="group2" data-wow-delay=".6s"><img src="./img/top/gallery02.jpg" alt="thumb gallery"/></a><a class="thumb-item wow fadeindown fancybox" href="./img/top/gallery03.jpg" rel="group2" data-wow-delay=".9s"><img src="./img/top/gallery03.jpg" alt="thumb gallery"/></a><a class="thumb-item wow fadeindown fancybox" href="./img/top/gallery04.jpg" data-wow-delay="1.2s"><img src="./img/top/gallery04.jpg" alt="thumb gallery"/></a><a class="thumb-item wow fadeindown fancybox" href="./img/top/gallery05.jpg" rel="group2" data-wow-delay="1.5s"><img src="./img/top/gallery05.jpg" alt="thumb gallery"/></a><a class="thumb-item wow fadeindown fancybox" href="./img/top/Video.jpg" rel="group2" data-wow-delay="1.8s"><img src="./img/top/gallery06.jpg" alt="thumb gallery"/></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="footer-top">
          <div class="wrapper">
            <div class="footer-inner">
              <div class="txt-input-submit">Subscribe to our newsletter</div>
              <div class="group-input">
                <input class="input-control" type="text" placeholder="johndoe@gmail.com"/>
                <button class="btn-submit" type="submit">submit
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-middle">
          <div class="wrapper">
            <div class="footer-inner">
              <div class="content-left">
                <div class="maps" id="maps"></div>
              </div>
              <div class="content-right">
                <h2 class="title">VẠN KIM LONG HOTEL</h2>
                <div class="desc-info">
                  <div class="icon-desc"><img src="./img/common/location.png" alt="location"/>
                  </div>
                  <div class="desc">
                    26 DT 848 Street, Phu Long Hamlet, Tan Phu Dong Commune<br>
                    Sa Dec city, Dong Thap.
                  </div>
                </div>
                <div class="desc-info">
                  <div class="icon-desc"><img src="./img/common/phone.png" alt="location"/>
                  </div>
                  <div class="desc"><a class="trans" href="tel:+842773980980">(+84) 2773.980.980</a><a class="trans" href="tel:0913334699">091.3334.699</a>
                  </div>
                </div>
                <div class="desc-info">
                  <div class="icon-desc"><img src="./img/common/mail.png" alt="location"/>
                  </div>
                  <div class="desc"><a class="trans" href="mailto:muoi.nguyentan@gmail.com">muoi.nguyentan@gmail.com</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="wrapper">
            <div class="footer-inner">
              <div class="coppyright">Copyright © 2017 Logo.com. All right reserved.</div>
              <ul class="nav-footer">
                <li><a class="btn-nav trans current" href="./"><span class="txt-nav">home</span></a>
                </li>
                <li><a class="btn-nav trans" href="#"><span class="txt-nav">about</span></a>
                </li>
                <li><a class="btn-nav trans" href="#"><span class="txt-nav">menu</span></a>
                </li>
              </ul>
              <div class="social"><a class="trans social-item" href="#"><img src="./img/common/google_plus.png" alt="google plus"/></a><a class="trans social-item" href="#"><img src="./img/common/facebook.png" alt="facebook"/></a><a class="trans social-item" href="#"><img src="./img/common/icon_twitter.png" alt="Twitter"/></a><a class="trans social-item" href="#"><img src="./img/common/icon_youtube.png" alt="youtube"/></a><a class="trans social-item" href="#"><img src="./img/common/icon_tripadvisor_dreamstale69.png" alt="tripadvisor"/></a>
              </div>
              <div class="count-online">
                <div class="txt-online">Online</div>
                <div class="number-online"><span>30</span></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src=".//js/libs.js"></script>
    <script src=".//js/modernizr.js"></script>
    <script src=".//js/jquery-ui.min.js"></script>
    <script src=".//js/slick.min.js"></script>
    <script src=".//js/wow.min.js"></script>
    <script src=".//js/jquery.fancybox.min.js"></script>
    <script src=".//js/scripts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs2EX1x62kdImcpNvfAa3Mqgw4uImnZyY&amp;callback=myMap"></script>
  </body>
</html>
